/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  padding-top: 70px;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .container header--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio {
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-box {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

@media screen and (max-width: 767px) {
  .button-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .button-box {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .button-box {
    margin-bottom: 50px;
  }
}

.button__list {
  margin: 0px 8px 0px 0px;
}

.button__item {
  font-family: Roboto;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.52;
  text-align: center;
  border-style: none;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__item:hover, .button__item:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .button__item {
    margin-bottom: 15px;
  }
}

.border {
  border: 1px solid #ececec;
  margin: 0px;
}

@media screen and (min-width: 1200px) {
  .container {
    margin-bottom: 0;
  }
}

.card-block {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.card-block > .card__li {
  width: 370px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .card-block > .card__li {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-block > .card__li {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.card-block > .card__li__shadow-box {
  padding: 20px 24px;
}

.card-block > .card__li__shadow__card {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-block > .card__li__shadow__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 400;
}

.card__li .overlay-link {
  display: block;
  text-decoration: none;
}

.card__li a:hover,
.card__li a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: transparent;
}

.card-block img {
  display: block;
  min-width: 100%;
  height: auto;
}

.shadow-box {
  margin: 0;
  padding: 20px 24px;
  background-color: #fff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.shadow__card {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.shadow__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
}

.overlay-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.overlay-block::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-link:hover .overlay-block::before,
.overlay-link:focus .overlay-block::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-block > .overlay__text {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (max-width: 479px) {
  .overlay-block > .overlay__text {
    font-size: calc((100vw - 320px) / (480 - 320) * (18 - 12) + 12px);
    padding-top: calc((100vw - 320px) / (480 - 320) * (77 - 50) + 50px);
    padding-bottom: calc((100vw - 320px) / (480 - 320) * (77 - 50) + 50px);
  }
}

@media screen and (min-width: 768px) {
  .overlay-block > .overlay__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay-block > .overlay__text {
    padding: 64px 24px;
  }
}

.overlay-link:hover .overlay__text,
.overlay-link:focus .overlay__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.engage-container {
  padding: 0px 0px 94px;
}

@media screen and (max-width: 1199px) {
  .engage-container {
    display: none;
  }
}

.engage-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.engage-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
  padding: 0px 0px 50px;
}

.engage--item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.description-block {
  position: relative;
  overflow: hidden;
}

.description-block .description__text {
  background: rgba(47, 48, 58, 0.8);
  bottom: 3px;
  left: 0px;
  width: 370px;
  padding: 27px 0px;
  position: absolute;
}

.description__label {
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.features-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-item {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .features-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.features-title {
  font-weight: bold;
  margin: 0px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

.features__text {
  margin: 0px;
  font-size: 15px;
  line-height: 1.71;
  padding-top: 22px;
  color: #757575;
  letter-spacing: 0.03em;
}

.icon-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  margin: 0px 0px 30px 0px;
}

.icon__skill {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55px;
  height: 61px;
}

footer {
  background-color: #2f303a;
  padding: 60px 0px 60px 0px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    text-align: center;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.19;
  padding: 0px;
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    text-align: center;
  }
}

.address {
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.74;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 9px;
  }
}

.address__link--footer {
  display: block;
  padding: 0px;
  margin: 9px 0px 0px 0px;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.74;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--footer:hover, .address__link--footer:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
}

.footer-join {
  margin-left: 70px;
  width: 206px;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 16px;
  color: #ffffff;
}

.footer__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #2196f3;
}

.footer__icon {
  display: block;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe-input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px;
  padding: 15px 16px;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.button__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  outline: transparent;
  -webkit-transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .button__subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #212121;
  font-size: 26px;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-weight: bold;
  line-height: 1.19;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--text {
  color: #2196f3;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo--text {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo--text {
    padding: 24px 0;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  padding: 0px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #ffffff;
}

.header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    margin-left: 88px;
  }
}

.header-nav .header__list:not(:nth-child(1)) {
  margin-left: 50px;
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 93px;
  }
}

.header__list {
  position: relative;
}

.header__list:not(:last-child) {
  margin-right: 50px;
}

.header__current {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__current {
    display: block;
    padding: 27px 0px;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196f3;
  }
  .header__current::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.header__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__link {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding: 27px 0px;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: #2196f3;
  }
  .header__link::after {
    position: absolute;
    content: '';
    bottom: 0%;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .header__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.info-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .info-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    color: #757575;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .info-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
}

.address__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .address__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 9px;
    color: #757575;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__link:hover, .address__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .address__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address__envelope {
  display: none;
}

@media screen and (min-width: 768px) {
  .address__envelope {
    display: inline-block;
    fill: #757575;
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .address__envelope {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.address__tel {
  display: none;
}

@media screen and (min-width: 768px) {
  .address__tel {
    display: inline-block;
    fill: #757575;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .address__tel {
    margin-right: 10px;
    height: 16px;
  }
}

.border-header {
  border-bottom: 1px solid #ececec;
}

.hero__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: cover;
  padding: 200px 0px 200px 0px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-img.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img/hero-img-480@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-img-480@x2.jpg");
  }
}

@media screen and (min-width: 481px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img/hero-img-768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-img-768.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img/hero-img-768@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-img-768@x2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding: 118px 0;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 0;
    width: 696px;
  }
}

.hero__title {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
}

.hero__button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-weight: bold;
  border-style: none;
  text-align: center;
  font-family: Roboto;
  outline: transparent;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
  padding: 0px 0px 50px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
  height: 90px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.clients__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  border-radius: 4px;
  border: solid 1px #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.clients__icon {
  height: 49px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-button {
  position: absolute;
  outline: transparent;
  border-radius: 50%;
  right: 0%;
  margin: 8px 8px 0px 0px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  color: #2196f3;
}

.modal-box {
  padding: 38px 40px;
}

.modal__title {
  margin: 0px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-content {
  position: relative;
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-content:focus-within > .modal__input {
  border-color: #2196f3;
}

.modal-content:focus-within > .modal__icon {
  fill: #2196f3;
}

.modal__input {
  width: 448px;
  height: 39px;
  outline: none;
  margin: 3px 0px 9px 0px;
  border-radius: 4px;
  padding: 0px 0px 0px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal__input {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal__icon {
  position: absolute;
  fill: #757575;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 5%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 0px;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 0px;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 0px;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 0px;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-field {
  position: relative;
  margin-bottom: 20px;
}

.check-box {
  display: inline-block;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  list-style-image: 0.03em;
  font-style: Roboto san-serif;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .check-box {
    padding-left: 36px;
    padding-right: 11px;
    font-size: 14px;
    line-height: 1.61;
  }
}

.check-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .check-box::after {
    left: 12px;
  }
}

.checkbox:checked + .check-box::after {
  width: 16px;
  height: 15px;
  border-color: #2196f3;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus ~ .check-box::after {
  border-color: #2196f3;
}

.check__link {
  color: #2196f3;
  border-bottom: solid 1px #2196f3;
}

.button-modal {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  outline: none;
  border-style: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.06em;
  margin: 0px 0px 0px 125px;
  padding: 0px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-container {
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-block {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .team-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__list {
  padding: 0px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list:not(:last-child) {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list:not(:last-child) {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    padding-bottom: 30px;
  }
}

.team__name {
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.18;
  margin: 0px;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.team__position {
  letter-spacing: 0.03em;
  font-size: 17px;
  line-height: 1.18;
  color: #757575;
  margin: 0px;
  padding: 10px 0px 30px 0px;
  text-align: center;
}

.social-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 10px 30px 32px;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .networks {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .networks {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .networks {
    margin-left: 70px;
  }
}

.networks__content {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.networks-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .networks-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.networks-list__item {
  width: 44px;
  height: 44px;
}

.networks-list__item:not(:last-child) {
  margin-right: 10px;
}

.networks-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.networks-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  outline: transparent;
}

.networks-list__link:hover, .networks-list__link:focus {
  background-color: #2196f3;
}

.main-nav__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;
}

.main-nav__button:hover, .main-nav__button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .main-nav__button {
    display: none;
  }
}

.main-nav__icon {
  fill: currentColor;
}

.main-nav__button .icon-close {
  display: none;
}

.main-nav__button.is-open .icon-close {
  display: block;
}

.main-nav__button.is-open .icon-menu {
  display: none;
}

.main-nav__button.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}

.main-nav__menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .main-nav__menu {
    padding: 48px 40px 48px 40px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 767px) and (max-width: 479px) {
  .main-nav__menu {
    padding-right: calc((100vw - 320px) / (480 - 320) * (40 - 28) + 28px);
    padding-left: calc((100vw - 320px) / (480 - 320) * (40 - 28) + 28px);
  }
}

@media screen and (max-width: 767px) {
  .main-nav__menu.is-open {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__menu {
    display: none;
  }
}

.menu-navigation__list,
.menu-contacts__list,
.networks-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  margin-top: 0;
}

.menu-navigation {
  margin-bottom: auto;
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-navigation__item:not(:last-child),
.menu-contacts__item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 32px;
}

.menu-navigation__link,
.menu-contacts__link,
.networks-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-navigation__link {
  font-size: 40px;
  color: #212121;
  line-height: 1.18;
}

.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: #2196f3;
}

.menu-navigation__link--current {
  color: #2196f3;
}

.menu-contacts__link {
  line-height: 1.18;
}

.menu-contacts__link--tel {
  font-size: 34px;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .menu-contacts__link--tel {
    font-size: calc((100vw - 320px) / (480 - 320) * (34 - 26) + 26px);
  }
}

.menu-contacts__link--mail {
  font-size: 24px;
  color: #757575;
}

.menu-contacts__link--mail:hover, .menu-contacts__link--mail:focus {
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .menu-contacts__link--mail {
    font-size: calc((100vw - 320px) / (480 - 320) * (24 - 20) + 20px);
  }
}

.networks-menu__link {
  color: #2196f3;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 479px) {
  .networks-menu__link {
    font-size: calc((100vw - 320px) / (480 - 320) * (18 - 12) + 12px);
  }
}

.networks-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.networks-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}
/*# sourceMappingURL=main.css.map */