.main-nav__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #212121;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.main-nav__icon {
  fill: currentColor;
}

.main-nav__button .icon-close {
  display: none;
}

.main-nav__button.is-open .icon-close {
  display: block;
}

.main-nav__button.is-open .icon-menu {
  display: none;
}

.main-nav__button.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}
