.engage-container {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding: 0px 0px 94px;
}

.engage-picture {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.engage-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin: 0px;
  padding: 0px 0px 50px;
}

.engage--item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.description-block {
  position: relative;
  overflow: hidden;
}

.description-block .description__text {
  background: rgba(47, 48, 58, 0.8);
  bottom: 3px;
  left: 0px;
  width: 370px;
  padding: 27px 0px;
  position: absolute;
}

.description__label {
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0px;
  color: $primary-background;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
