$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-background: #ffffff;
$secondary-background: #f5f4fa;
$header-footer-background: #2f303a;
$accent-color: #2196f3;
$border-header: #ececec;
$border-footer-shadow: rgba(255, 255, 255, 0.1);
$border-examples: #eeeeee;
$footer-bgc: #2f303a;
$secondary-f-lightgrey-color: rgba(255, 255, 255, 0.6);
$secondary-flightgrey-color: rgba(255, 255, 255, 0.4);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-fill-color: #afb1b8;

$body-font: Roboto;
$logo-font: Raleway;
$size-font: bold;
